# Azure Functions
local.settings.json
__blobstorage__
__queuestorage__
__azurite_db*__.json
azurite-debug.log
azurite-data

# Python
__pycache__/
*.py[cod]
.venv
.python_packages/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan

# IDE
.idea
.vscode

# OS
.DS_Store

# Secrets
.secrets
.env
